.localgov_alert_banner {
  background-color: #fc3;
  color: #000;
}
.localgov_alert_banner .wrapper {
  margin: 0 auto;
  max-width: 73.125rem;
}
.localgov_alert_banner--inner {
  display: flex;
  justify-content: space-between;
  margin: 0 0.9375rem;
  padding: 0.625rem 0;
}
.localgov_alert_banner--actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
