/**
 * Theme rules for the Full page alert banner.
 */

.localgov-alert-banner > .modal-dialog-centered .close {
  text-decoration: underline;
  border: 0;
  text-shadow: none;
  font-size: 1.1875rem;
  font-weight: 700 !important;
}

.localgov-alert-banner > .modal-dialog-centered .close:hover,
.localgov-alert-banner > .modal-dialog-centered .close:focus,
.localgov-alert-banner > .modal-dialog-centered .close:hover span,
.localgov-alert-banner > .modal-dialog-centered .close:focus span {
  cursor: pointer;
  opacity: 1 !important;
  color: #fb0 !important;
  background: transparent;
  box-shadow: none;
}

.localgov-alert-banner > .modal-dialog-centered .close span {
  text-decoration: none;
  text-shadow: none;
  font-size: 1.1875rem;
  font-weight: 700 !important;
}

.localgov-alert-banner > .modal-dialog-centered .link-text {
  color: #fb0;
}

.localgov-alert-banner > .modal-dialog-centered .link-text:hover,
.localgov-alert-banner > .modal-dialog-centered .link-text:focus {
  color: #121212;
}

.localgov-alert-banner > .modal-dialog-centered a.btn {
  text-align: left;
  text-decoration: none;
}

.localgov-alert-banner.localgov-alert-banner--notable-person {
  background-color: #121212;
}
.localgov-alert-banner.localgov-alert-banner--notable-person a {
  color: #fff;
}
.localgov-alert-banner .modal-content .localgov-alert-banner--notable-person {
  background-color: #121212;
}

.localgov-alert-banner-full[style] {
  /* firefox fix for incorrect vertical centering */
  top: 1rem;
}
